body {
   margin: 0;
   padding: 0;
}

.container {
   display: block;
   box-sizing: border-box;
   max-width: 1360px;
   width: 1360px;
   margin: 0 auto;
   height: 900px;
   padding: 32px 0;
   background: #ffffff;
}

.pagelink {
   font-family: 'SF Pro Text';
   margin: 0;
   margin-bottom: 48px;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   display: inline-block;
}

.pagelink_navlink {
   text-decoration: none;
   color: #697071;
}

.pagelink_navlink:first-of-type {
   color: #042a30;
}

.pagelink_navlink:last-child {
   color: #a3a3a3;
   cursor: default;
}

.pagelink_icon {
   display: inline-block;
   margin: auto 8px;
   height: 12px;
   vertical-align: bottom;
}

.pagelink_icon img {
   height: 100%;
   margin: 0;
   padding: 0;
}

.content {
   display: grid;
   grid-template-columns: 652px 664px;
   gap: 44px;
}

.image_option__list,
.item_description.primary,
.item_description.secondary > div {
   display: flex;
}

.image_wrapper {
   position: relative;
}

.image_wrapper {
   width: 100%;
   height: 434px;
}

.image_wrapper img {
   height: 100%;
   width: auto;
}

.image_option__list {
   margin-top: 16px;
   width: 100%;
   height: 72px;
}

.image_option__list ul li,
.image_wrapper {
   border: 1px solid #ecf2f3;
   border-radius: 8px;
}

.image_option__list ul li img {
   width: 100%;
   height: auto;
}

.image_option__list ul {
   display: inline-flex;
   gap: 8px;
   overflow: scroll;
   padding-left: 0;
   margin: 0 8px;
}

.image_option__list ul::-webkit-scrollbar {
   display: none;
}

.image_option__list ul li {
   display: block;
   box-sizing: border-box;
   list-style-type: none;
   min-width: 108px;
   width: 108px;
   height: 100%;
   overflow: hidden;
}

.image_option__list ul li:focus,
.image_option__list ul li:active {
   border: 1px solid #f1582b;
}

.image_option__list ul li.selected {
   border: 1px solid #146b87;
}

.image-counter,
.image-description,
.expand,
.select-buttons {
   position: absolute;
}

.image-counter,
.image-description,
.expand,
.select-buttons {
   display: block;
}

.select-buttons,
.expand {
   right: 10px;
}

.image-description,
.select-buttons {
   bottom: 10px;
}

.expand,
.image-counter {
   top: 10px;
}

.caption-expander,
div.button,
button {
   box-sizing: border-box;
   cursor: pointer;
}

button {
   display: inline-block;
}

button:hover {
   background: #d6dcdd;
}
button:active {
   opacity: 0.8;
}

.caption-expander,
input[type='number'],
button {
   box-sizing: border-box;
   background: #f2f5f5;
   border-radius: 8px;
   width: 44px;
   height: 44px;
   padding: 14px;
   text-align: center;
   border: transparent;
}
.image_option__list button {
   height: 72px;
   width: 32px;
   padding: 8px;
   text-align: center;
}

.image-counter,
.image-description {
   left: 10px;
}

.item_content {
   display: flex;
   flex-wrap: wrap;
}

.item_heading {
   display: block;
   width: 100%;
   margin: 0;
   font-family: Montserrat;
   font-size: 40px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: left;
}

.item_description {
   flex-direction: column;
   margin-top: 40px;
}

.item_description.primary {
   width: 316px;
   min-height: 476px;
}

.size_select.custom {
   display: none;
}

.radio-select .size_select {
   margin-bottom: 0;
}

.size_select,
.radio-select {
   margin-bottom: 32px;
}

.size_select {
   display: flex;
   gap: 8px;
   position: relative;
   margin-top: 10px;
}

.radio-select ul {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 12px;
   width: 290px;
   margin: 10px 0;
   padding: 0;
}
.radio-select ul li {
   list-style-type: none;
}

input.radio:not(label) {
   width: 20px;
   height: 20px;
   border-radius: 0;
   visibility: hidden;
   position: absolute;
}

.additional-options .caption,
.caption-expander {
   display: none;
}

.btn-custom,
.radio-select label {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   width: 48px;
   height: 32px;
   padding: 9px 10px 9px 13px;
   border-radius: 4px;
   background: #e0ecf0;
   text-align: center;
   font-family: 'SF Pro Text';
   font-weight: 700;
   font-size: 14px;
   cursor: pointer;
}

.btn-custom {
   width: 108px;
   text-align: center;
   padding: 9px 0;
}

.btn-custom.active,
.radio:checked + label {
   background: #146b87 !important;
   color: #ffffff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input[type='number'] {
   padding: 0;
   margin: 0;
   width: 64px;
   font-size: 16px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0em;
   position: relative;
   z-index: 0;
   color: #424849;
   font-weight: 700;
   overflow: visible;
   border: 1px solid #d6dcdd;
   -moz-appearance: textfield;
}

.size_select span {
   position: absolute;
   left: 30%;
   top: 10px;
}

.item_description .info-text {
   margin: 0;
   font-weight: 600;
}

.info-text .tooltip-wrapper {
   position: relative;
   margin-left: 8px;
}

.tooltip-wrapper i {
   cursor: pointer;
}

.additional-options fieldset {
   margin: 0;
   padding: 0;
   border: none;
}

.additional-options fieldset ul {
   padding-left: 0;
}

.additional-options fieldset li {
   max-width: 100%;
   height: 44px;
   padding: 0 12px;
   border-radius: 8px;
   background: #e0ecf0;
   margin-bottom: 4px;
   font-family: 'SF Pro Text';
   font-size: 14px;
   font-weight: 600;
   line-height: 14px;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.additional-options fieldset li span {
   margin: auto;
   margin-right: 0;
}

input[type='checkbox' i] {
   display: none;
}

input[type='checkbox'] ~ label {
   position: relative;
   overflow: visible;
   margin-left: 30px;
   cursor: pointer;
   padding: 4px 0;
   line-height: 20px;
   width: 100%;
}

input[type='checkbox'] ~ label::before {
   background: #ffffff;
   position: absolute;
   left: -30px;
   bottom: -6px;
   transform: translate(0, -50%);
   display: block;
   content: '';
   width: 20px;
   height: 20px;
   border: 1px solid #424849;
   border-radius: 4px;
   z-index: 1;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

input[type='checkbox']:checked ~ label::before {
   content: url('./assets/icons/StateInactiveChecled.svg');
   border: transparent;
}

.item_description.secondary {
   margin-left: 44px;
   width: 304px;
   height: 420px;
   border-radius: 8px;
   background: #f2f5f5;
}

.item_description.secondary > div {
   flex-wrap: wrap;
   gap: 12px;
   padding: 24px 20px;
   box-sizing: border-box;
   width: 100%;
}

.item_description.secondary .divider {
   display: block;
   width: 100%;
   height: 1px;
   background: #d6dcdd;
   margin: 8px 0;
}

.stock-data,
.item-ratio-data {
   display: flex;
   box-sizing: border-box;
   align-items: center;
   height: 32px;
   border-radius: 4px;
   padding: 8px 12px;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   line-height: 14px;
   font-weight: 700;
   text-transform: uppercase;
}

.sku-data {
   display: block;
   width: 100%;
   font-family: 'SF Pro Text';
   /* font-family: Open Sans; */
   font-size: 12px;
   line-height: 12px;
   font-weight: 600;
   text-align: left;
   color: #a5b1b2;
}

.sku-data p {
   margin: 0;
}

.item-ratio-data a,
.sku-data .sku-num {
   color: #042a30;
   text-decoration: none;
}

.item-ratio-data {
   width: 100%;
   background: #ffdfd7;
   color: #f1582b;
}
.item-ratio__count {
   margin-left: 8px;
   padding-bottom: 1px;
}

.stock-data {
   font-size: 10px;
   line-height: 10px;
   background: #042a30;
   color: #ffffff;
}

.stock-data img {
   width: 12px;
   height: 12px;
   margin-right: 4px;
}
.item-ratio-data a {
   display: flex;
   gap: 6px;
   margin-left: auto;
   margin-right: 0;
}

.item-ratio-data a img {
   height: 12px;
   width: 12px;
   margin: auto;
}

.item-price {
   font-family: 'SF Pro Text';
   font-size: 24px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
   color: #146b87;
   margin: 0;
}
.item-price span:nth-child(1),
.item-price span:nth-child(3) {
   margin-right: 2px;
   font-family: 'SF Pro Text';
   font-size: 10px;
   font-weight: 700;
   line-height: 10px;
   text-transform: uppercase;
}

.item-price span:nth-child(1) {
   color: #697071;
}

.item-price span:last-of-type {
   vertical-align: top;
}

.item-amount {
   display: flex;
   box-sizing: border-box;
   width: 100%;
   gap: 16px;
   margin: 12px 0;
}

.item-amount input[type='number'] {
   font-family: 'SF Pro Text';
   background: #ffffff;
   width: inherit;
   font-size: 16px;
   font-weight: 400;
   line-height: 16px;
}
.item-amount button {
   flex-shrink: 0;
   background-color: #ffffff;
}

button:disabled:hover,
button:disabled:active,
button:disabled {
   background: #d6dcdd;
   opacity: 1;
}

button:disabled svg {
   fill: #fff;
}

.item-submit {
   width: 100%;
   height: 44px;
   margin: 0;
   padding: 10px 40px;
   border-radius: 8px;
   background: #f1582b;
   color: #ffffff;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-align: center;
   text-transform: uppercase;
   border: none;
}
.item-submit img {
   width: 13px;
   height: 16px;
   margin: -3px 2px;
}

.item-details {
   display: block;
   font-family: 'SF Pro Text';
   font-size: 12px;
   color: #697071;
   font-weight: 400;
   line-height: 14px;
   margin: 0;
   margin-top: 10px;
}

.info-text .tooltip.hidden {
   display: none;
}

.info-text .tooltip {
   position: absolute;
   display: block;
   box-sizing: border-box;
   padding: 16px;
   width: 168px;
   font-family: 'SF Pro Text';
   font-size: 14px;
   font-weight: 300;
   line-height: 14px;
   background: #ffffff;
   left: 60%;
   bottom: 30px;
   transform: translate(-50%, 0);
   border-radius: 8px;
   box-shadow: 0px 4px 20px 0px #0000001f;
   z-index: 1;
}

.nowrap {
   white-space: nowrap;
}

@media screen and (max-width: 1000px) {
   .content,
   .container {
      max-width: 360px;
   }

   .container {
      position: relative;
      height: auto;
   }

   .content {
      grid-template-columns: 1fr;
      gap: 0;
      height: auto;
      width: 100%;
      margin-top: 88px;
   }

   .item_gallery {
      max-width: inherit;
   }

   .image_wrapper {
      width: 100%;
      height: 240px;
   }

   .image_wrapper img {
      height: auto;
      width: 100%;
   }

   .image_option__list button,
   .expand,
   .select-buttons,
   .image-counter {
      display: none;
   }

   .image-description {
      left: 16px;
      bottom: 16px;
      font-size: 10px;
      line-height: 10px;
      width: 155px;
      margin: 0;
   }

   .image_option__list ul li {
      min-width: 70px;
      width: 70px;
      height: 48px;
   }

   .pagelink {
      margin: 0 20px 32px;
   }
   .pagelink_icon {
      margin: 0 6px;
   }

   .item_heading {
      font-size: 32px;
      line-height: 32px;
      margin: 0 20px;
      order: -2;
      position: absolute;
      top: 82px;
      width: 320px;
      height: 64px;
   }

   .item_description.primary {
      margin: 0 20px;
      height: auto;
      min-height: unset;
   }

   .item_description.secondary {
      margin: 20px 0;
      width: 100%;
      height: auto;
   }

   .stock-data {
      width: 125px;
   }
   .item-ratio-data {
      width: 182px;
   }

   .item-ratio-data a span {
      display: none;
   }
   .item_description.secondary > div {
      justify-content: space-between;
      padding: 20px;
   }

   .item_description.secondary .divider {
      margin: 12px 0;
   }

   .item-price,
   .item-details {
      order: -1;
   }

   .item-details {
      margin-top: -4px;
   }

   input[type='number'] {
      width: 100%;
   }

   .size_select {
      gap: 20px;
   }

   .radio-select ul {
      gap: 16px;
   }
   .btn-custom,
   .radio-select label {
      height: 44px;
      border-radius: 8px;
   }
   .radio-select label {
      width: 44px;
   }

   .size_select.custom {
      margin-top: 16px;
   }
   .size_select span {
      left: 54%;
   }

   .additional-options .caption,
   .caption-expander {
      display: flex;
   }
   .additional-options .caption {
      margin-bottom: 10px;
   }

   .caption-expander {
      justify-content: flex-start;
      align-items: flex-start;
      font-family: 'SF Pro Text';
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      width: 100%;
      padding: 15px 16px;
      border: 1px solid #d6dcdd;
      transition-duration: 700ms;
      margin-bottom: 4px;
   }
   .caption-expander img {
      margin: 0;
      padding: 4px 0;
      margin-left: auto;
   }

   .caption-expander.open img {
      content: url('./assets/icons/Chevron_Down-white.svg');
      transform: rotate(-180deg);
   }

   .caption-expander.open {
      background: #e0ecf0;
      background: #146b87;
      color: #ffffff;
   }

   .additional-options fieldset {
      display: block;
      position: relative;
      overflow: hidden;
      transition-duration: 700ms;
      height: 12px;
   }

   .additional-options fieldset ul {
      margin: 0;
      position: absolute;
      top: 0px;
      width: 310px;
      left: 2px;
      transform: translate(0, -110%);
      transition-duration: 700ms;
   }

   .additional-options .caption-expander.open ~ fieldset ul {
      z-index: 0;
      transform: translate(0, 0);
   }
   .additional-options .caption-expander.open ~ fieldset {
      height: 204px;
   }
}
