@media (max-width: 768px) {
   .header__container {
      align-items: flex-start;
      flex-direction: column;
   }

   .header__nav {
      margin-top: 10px;
   }

   .header__nav-list {
      align-items: flex-start;
      flex-direction: column;
   }

   .header__nav-item {
      margin: 5px 0;
   }

   .header__button-container {
      margin-top: 10px;
   }
}
