@media (max-width: 768px) {
   html {
      font-size: 14px;
   }

   .container {
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 0.875rem;
   }

   .section__title,
   .section__description {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
   }

   .section,
   .footer,
   .header {
      overflow: hidden;
   }

   .container {
   }
   .header__menu {
      height: 60px;
      padding-top: 0.2rem;
   }
   .header__logo-container {
   }
   .header__logo-link {
   }

   .header__logo-image {
      height: 36px;
      margin-top: -10px;
   }

   .header__nav {
      display: none;
   }
   .header__nav-list {
   }
   .header__nav-item {
   }
   .header__nav-link {
   }
   .header__button-container {
   }
   .header__button {
   }
   .header__content {
      margin-top: 50vw;
   }
   .header__title {
      /* margin-bottom: 4rem; */
      font-size: 1.625rem;
   }

   .header__title,
   .header__text {
      max-width: 85%;
      line-height: 1.25;
      margin-top: 0.5rem;
   }

   .header__buttons-container {
      width: auto;
      margin-top: 1rem;
   }

   .header__buttons-container button {
      width: auto;
      white-space: nowrap;
   }
   .outlined {
   }
   .header__cards-container {
      align-items: center;
      flex-direction: column;
      height: auto;
      padding: 2rem 1rem;
      margin: 4rem auto 0;
      gap: 1.75rem;
   }

   .header__card:first-child {
      align-self: flex-start;
   }
   .header__card:last-child {
      align-self: flex-end;
   }
   .header__card {
   }
   .header__card-item {
      /* transform: scale(0.5); */
   }
   .header__card-text {
   }
   .header__background {
      top: 0;
      left: 0;
      overflow: visible;
      width: 100%;
      height: 100%;
      background-position: right 12%;
      background-size: 80%;
   }
   .header__background::before {
      top: 0%;
      right: 15%;
      left: unset;
   }
   .header__background-image {
      top: 12%;
      right: -5%;
      left: unset;
      width: 60%;
      height: auto;
   }
   .elipse {
      bottom: unset;
   }
   .elipse-xs {
      top: 12%;
   }
   .elipse-sm {
      top: 15%;
   }
   .elipse-md {
      bottom: 40%;
   }
   .elipse-lg {
      bottom: 5%;
      left: -5%;
   }
   .elipse-left-top {
   }

   .plans__cards-grid,
   .story__cards-grid {
      max-width: 100%;
      justify-items: center;
      grid-template-columns: 1fr;
   }

   .story__card {
      flex-direction: column;
      width: 80%;
   }

   .story__image {
      width: 60%;
      margin: auto;
   }

   .cta {
      overflow: visible;
      width: 80%;
      height: auto;
      box-sizing: border-box;
   }

   .cta__title {
      line-height: 100%;
   }

   .cta__image-question {
      z-index: 1;
      top: 10px;
      right: -5%;
      width: 70px;
      height: auto;
   }

   .cta__image-question:first-of-type {
      display: none;
   }

   .cta__image-message {
      top: unset;
      right: unset;
      bottom: 20%;
      left: 4%;
      width: 70px;
      height: 70px;
      transform: rotate(-24deg);
   }

   .plan__card {
      width: 300px;
      max-width: 90%;
      box-sizing: border-box;
      gap: 0.64rem;
   }

   .plan__price {
      line-height: normal;
   }

   .plan__icon {
      width: 130px;
   }

   .plan__card:nth-child(2) .plan__icon {
      width: 90px;
   }

   .plan__card:nth-child(3) .plan__icon {
      width: 65px;
   }

   .plan__card .plan__heading {
      margin: 2rem 0 1rem;
   }
}
