@media (max-width: 768px) {
   :root {
      --section-content: 90%;
   }

   html {
      font-size: 14px;
   }

   .container {
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 0.875rem;
   }

   section {
      overflow: hidden;
   }

   .section__title,
   .section__description {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
   }

   .section__title {
      font-size: 1.715rem;
   }

   .header__menu {
      height: 60px;
      padding-top: 0.2rem;
   }

   .header__logo-image {
      height: 36px;
      margin-top: -10px;
   }

   .header__nav {
      display: none;
   }

   .header__content {
      margin-top: 50vw;
   }
   .header__title {
      font-size: 1.625rem;
   }

   .header__title,
   .header__text {
      max-width: 85%;
      line-height: 1.25;
      margin-top: 0.5rem;
   }

   .header__buttons-container {
      width: auto;
      margin-top: 1rem;
   }

   .header__buttons-container button {
      width: auto;
      white-space: nowrap;
   }

   .header__cards-container {
      align-items: center;
      flex-direction: column;
      height: auto;
      padding: 2rem 1rem;
      margin: 4rem auto 0;
      gap: 1.75rem;
   }

   .header__card:first-child {
      align-self: flex-start;
   }
   .header__card:last-child {
      align-self: flex-end;
   }

   .header__background {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: right 12%;
      background-size: 80%;
   }
   .header__background::before {
      top: 0%;
      right: 15%;
      left: unset;
   }
   .header__background-image {
      top: 12%;
      right: -5%;
      left: unset;
      width: 60%;
      height: auto;
   }
   .elipse {
      bottom: unset;
   }
   .elipse-xs {
      top: 12%;
   }
   .elipse-sm {
      top: 15%;
   }
   .elipse-md {
      bottom: 40%;
   }
   .elipse-lg {
      bottom: 5%;
      left: -5%;
   }

   .plans__cards-grid,
   .story__cards-grid {
      max-width: 100%;
      justify-items: center;
      grid-template-columns: 1fr;
   }

   .story__card {
      flex-direction: column;
      width: 80%;
   }

   .story__image {
      width: 60%;
      margin: auto;
   }

   .cta {
      width: 80%;
      height: auto;
      box-sizing: border-box;
   }

   .cta__title {
      line-height: 100%;
      font-size: 1.575rem;
   }

   .cta__image-question {
      z-index: 1;
      top: 10px;
      right: -5%;
      width: 70px;
      height: auto;
   }

   .cta__image-question:first-of-type {
      display: none;
   }

   .cta__image-message {
      top: unset;
      right: unset;
      bottom: 20%;
      left: 4%;
      width: 70px;
      height: 70px;
      transform: rotate(-24deg);
   }

   .plan__card {
      width: 300px;
      max-width: 90%;
      box-sizing: border-box;
      gap: 0.64rem;
      grid-row: auto;
   }

   .plan__price {
      line-height: normal;
      font-size: 2.75rem;
   }

   .plan__description li {
      line-height: 1.3;
      margin: 8px 0;
   }

   .plan__icon {
      width: 130px;
   }

   .plan__card:nth-child(2) .plan__icon {
      width: 90px;
   }

   .plan__card:nth-child(3) .plan__icon {
      width: 65px;
   }

   .plan__card .plan__heading {
      margin: 2rem 0 1rem;
   }

   .plan__button {
      padding: 0.875rem 0;
      font-size: 0.875rem;
   }

   .about__article {
      flex-direction: column;
   }

   .about__image {
      align-self: center;
   }

   .about__image img,
   .about__image,
   .about__content {
      width: 100%;
      max-width: 90%;
      padding: 0;
   }

   .about__elipse-xs,
   .about__elipse-sm {
      right: 10%;
      margin-top: 25%;
   }

   .about,
   .plans,
   .roadmap {
      padding-bottom: 80px;
   }

   .roadmap__container {
      flex-direction: column;
      width: 90%;
      gap: 2.5rem;
   }
   .roadmap__section:nth-child(3) {
      top: 25%;
      left: 55%;
   }

   .roadmap__line {
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
   }

   .roadmap .roadmap__section {
      justify-content: flex-start;
      width: 45%;
      height: 25%;
      padding-top: 10px;
      margin: 0 0 0.5rem;
      border: none;
      border-top: 1px solid rgba(255, 255, 255, 0.34);
   }

   .roadmap__section:nth-child(3),
   .roadmap__section:nth-child(4),
   .roadmap__section:nth-child(5) {
      justify-content: flex-end;
      padding-bottom: 10px;
      border-top: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.34);
   }

   .roadmap__section:nth-child(4),
   .roadmap__section:nth-child(5) {
      align-self: flex-end;
      margin: 0.5rem 0 0;
   }

   .roadmap__section-text {
      max-width: unset;
   }

   .roadmap__point {
      top: 0;
      left: unset;
   }

   .roadmap__point:nth-last-child(2) {
      top: 25%;
   }
   .roadmap__point:nth-last-child(3) {
      top: 50%;
   }
   .roadmap__point:nth-last-child(4) {
      top: 75%;
   }
   .roadmap__point:nth-last-child(5) {
      top: 100%;
   }

   .roadmap__bg-abstract {
      max-width: 100%;
   }

   .questions__item {
      height: 50px;
   }
   .questions__item.active {
      height: 200px;
   }
   .questions__title {
      display: flex;
      align-items: center;
      min-height: 50px;
      line-height: 20px;
      font-size: 0.875rem;
   }

   .feedback {
      padding: 40px 0 20px !important;
      margin-bottom: 80px;
      border-radius: 1.25rem;
   }

   .feedback .section__title {
      margin-bottom: 50px;
      font-size: 1.5rem;
   }

   .feedback__form {
      width: 80%;
   }
   .form__button {
      padding: 0.5rem 2rem;
   }

   .footer__content {
      padding: 20px 20px 60px;
      grid-template-columns: 55% 45%;
      row-gap: 1.8rem;
   }

   .footer__content-section:first-of-type {
      order: -2;
   }
   .footer__content-section:last-of-type {
      order: -1;
      padding-top: 3.2rem;
   }

   .footer__content-section:last-of-type .footer__title {
      line-height: normal;
      margin-bottom: 1rem;
   }

   .footer__content-section:first-of-type p {
      width: auto;
      max-width: 85%;
   }
   .footer__bottom {
      padding: 2rem 20px;
   }
   .footer__logo {
      width: 130px;
   }
}
